<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 gap-2">

    <i class="{{ icon() }}" style="font-size: 36px; color: #6c757d;"></i>
    <div class="text-center">
        <h4 class="h6 fw-semibold">{{ title() }}</h4>
        <p class="text-muted small text-center mx-auto"
           style="max-width: 600px;">
            {{ description() }}
        </p>
    </div>

    <div class="d-flex gap-2">
        <ng-content select="[action]"></ng-content>
    </div>

</div>