<div class="d-flex justify-content-center h-100 w-100">
    <div class="content-page d-flex flex-column">
        <!-- Toolbar -->
        <div class="d-flex">
            <div class="flex-fill">
                <h1 class="mb-0">Panel de Administración</h1>
                <p>Bienvenido al panel de administración.</p>
            </div>
            <!-- Actions -->
            <div class="d-flex gap-1 align-items-center">
                <button class="btn-logout btn "
                        (click)="onLogout(modalConfirm)">
                    <i class="fas fa-arrow-right-from-bracket"
                       style="width: 16px; height: 16px;"></i>
                </button>
            </div>
        </div>
        <!-- Content -->
        <div class="flex-fill d-flex flex-column">

            @if (tasks().status === 'success') {
            @if ((tasks().data?.length ?? 0) > 0) {
            @for (item of tasks().data; track $index) {
            <!-- Task Item -->
            <div class="task-item" (click)="onEditTask(item)">
                <h5 class="title">{{ item.title }}</h5>
                <p>{{ item.description }}</p>
            </div>
            }
            } @else {
            <div class="w-100 h-100">
                <app-empty-screen icon="fas fa-tasks"
                                  title="No hay tareas disponibles"
                                  description="Actualmente no hay tareas disponibles. Por favor, vuelve más tarde o contacta con el administrador.">
                    <button action
                            class="btn btn-primary"
                            (click)="onAddTask()">Crear Tarea</button>
                </app-empty-screen>

            </div>
            }
            } @else {
            <div class="h-100">
                <app-loading [error]="tasks().status === 'error'"
                             (onRetry)="getTasks()"></app-loading>
            </div>
            }
        </div>
    </div>
</div>


<!-- logout confirm -->
<ng-template #modalConfirm
             let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirmar cierre de sesión</h4>

    </div>
    <div class="modal-body">
        <p>¿Estás seguro de que deseas cerrar sesión?</p>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-light"
                (click)="modal.dismiss()">Cancelar</button>
        <button type="button"
                class="btn btn-primary"
                (click)="modal.dismiss(); logout()">Confirmar</button>
    </div>
</ng-template>