.content-page {
    max-width: 48rem;
    padding: 100px 16px;
    width: 100%;
}

.btn-logout {
    height: 36px;
    width: 36px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-item {
    cursor: pointer;
    padding: 16px;

    

    .title {
        border-bottom: 1px dotted transparent;
        transition: all 0.2s ease-in-out;
        text-transform: capitalize;
    }

    &:hover {

        .title {
            border-bottom: 1px dotted var(--bs-primary);
        }
    }
}