<div class="modal-header">
    <h4 class="modal-title">Creación de usuario</h4>

</div>
<div class="modal-body modal-lg">
    <div class="alert alert-danger"
         role="alert">El correo electrónico {{ email }} no esta registrado.
    </div>
    <p>¿Desea crear un nuevo usuario con este correo electrónico?</p>
    <p>Si confirmas, se creará un nuevo usuario con el correo electrónico proporcionado.</p>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-outline-secondary"
            (click)="onCancel()">Cancelar</button>
    <button type="button"
            class="btn btn-primary"
            (click)="onConfirm()">Confirmar</button>
</div>