@use 'bootstrap/scss/bootstrap' with (
    $primary: #171717,
    $btn-border-radius: 50px,
    $modal-header-border-width: 0,
    $modal-content-border-radius: 15px,
    );

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f2f1ec;
    font-family: "Newsreader", serif;
}

.newsreader-font {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}